<html>
    <head>
        <link rel="stylesheet" href='..\static\style.css' />
        <title>User Space</title>
    </head>
    <body>
        <h1 id="title" title="Andrea Tomatis & Nicolo' Cora">Alphabot</h1>
        <h3 id="subtitle">web version 0.0.1</h3>
        
        <form method="post">
            <div style="padding-bottom:2%;">
                <input type="text"   value=""    name="txt_sequence" id="text_seq">
                <input type="submit" value="SEQ" name="btn_sequence" id="btn_seq">
            </div>
            <input type="submit" value="LEFT"  name="left"  class="btn"/></input>
            <input type="submit" value="UP"    name="up"    class="btn"/></input>
            <input type="submit" value="DOWN"  name="down"  class="btn"/></input>
            <input type="submit" value="RIGHT" name="right" class="btn"/></input>
        </form>
    </body>
</html>